.time {
	background-color: #93F9B9;
	color: #373B44;
	padding: 10px;
	position: absolute;
	left: 360px;
	box-shadow: 0px 4px #283048;
	text-align: center;
	color: black;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	transition: all 0.2s;
	margin:0 auto;
/*	visibility: hidden;*/
}